<h3 class="text-center" style="Color:#58B092; padding-top:2rem;margin-bottom: -2rem;">{{Name}}</h3>
<div class="container">
  <div class="row main-row">
    <div class="col-3">
      <common-full-card [ImgUrl]="ImgUrl" [Name]="Name" [SubjectsByTeacher]="SubjectsByTeacher" [Features]="Features"
        [ColorBG]="ColorBG" [ColorBrd]="ColorBrd"></common-full-card>
    </div>
    <div class="col-9">
      <div class="container-fluid">
        <div class="row second-row">
          <div class=container>
              <app-instructors-resume [ColorBG]="ColorBG" [Description]="Description" [ImgUrl]="ImgUrl"></app-instructors-resume>
            <div class="row rowLower">
              <div class="col-6">
                <div class="card cardLower" [style.background-color]="ColorBG">
                  <div class="card-body dFlex" >
                    <img src={{ImgUrl}} alt="">
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="card cardLower" [style.background-color]="ColorBrd">
                  <div class="card-body">
                    <h5 class="card-title">Description of the instructor and their background</h5>
                    <p class="card-text">{{Description}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
