<div class="card" >
  <div class="imageContainer">
    <img class=""
      src={{ImgUrl}}
      alt="Card image cap">
  </div>
  <div class="card-body text-center">
    <h5 class="card-title">{{Name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{SubjectsByTeacher}}</h6>
    <div class="container features">
      <div class=row>
        <!-- Dinamiscos -->
        <div class="col-auto" *ngFor="let i of Features">
          <a href="#" class="btn btn-primary" >{{i}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
