<a [routerLink]="['instructorDetailPath']" class="cardLink">
  <div class="card" [style.background-color]="ColorBG" >
    <div class="imageContainer">
      <img class="" src={{ImgUrl}} alt="Card image cap">
    </div>
    <div class="card-body text-center">
      <h5 class="card-title">{{Name}}</h5>
      <h6 class="card-subtitle mb-2">{{SubjectsByTeacher}}</h6>
      <div class="features text-center align-center">
        <a *ngFor="let i of Features" href="#" class="btn btn-primary" [style.border-color]="ColorBrd">{{i}}</a>
      </div>
    </div>
  </div>
</a>
