<div class="container-fluid">
  <div class="card MainCard">
    <div class="row mainRow">
      <div class="col-6 left" [style.background-color]="ColorBrd">
        <img src={{Img}} alt="">
      </div>
      <div class="col-6 right" [style.background-color]="ColorBG">
        <div class="card-body">
          <a [routerLink]="['/informationDetailPath', SubjectTitle,ColorBG,ColorBrd,TypeInformation]" class="cardLink">
            <h5 class="card-title">{{SubjectTitle}}</h5>
          </a>
          <a [routerLink]="['/informationDetailPath', InstructorWhoGive,ColorBG,ColorBrd]"class="cardLink">
            <h6 class="card-subtitle ">{{InstructorWhoGive}}</h6>
          </a>
          <p class="card-text" maxlength="20">{{Description}}</p>
          <div class="row rowBottom">
            <div class="col-2">  </div>
            <div class="col-6"></div>
            <div class="col-4 align-center"><a [style.background-color]="ColorBrd" class="btn ">CONTACT</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
