.mainRow{
  max-width: 100%;
  max-height: 100%;
  min-height: 11rem;
  margin-left: 0.01rem;
}

.MainCard{
  margin-top: 1rem;
  min-width: 100%;
  min-height: 11rem;
  display: flex;
  align-content: flex-start;
  border-color: white;
}

.left{
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.right{
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

img{
  display: block;
  margin:auto;
  border-radius: 10px;
  border: 2px solid white;
  max-height: 90%;
}

.col-6{
  display: flex;
}
