<div class="container-fluid">
  <div class="row">
    <div class="col-2 filters">
      <a class="addButton" style="color: #58B092;"><strong>+ New subject</strong></a>
      <div class="input-group input-group-sm mb-3">
        <input placeholder="instructors search" type="text" class="form-control" aria-label="Small"
          aria-describedby="inputGroup-sizing-sm">
      </div>
      <app-dynamic-filters [FilterTitle]="Nombre" [Filters]="Teachers"></app-dynamic-filters>
    </div>
    <div class="col-10">
      <div class="row">
        <div class="col-10 text-center">
          <h3 style="Color:#58B092;">Subjects</h3>
        </div>
      </div>
      {{getTotal()}}<common-large-cards *ngFor="let item of SubjectsArray" [ColorBG]="ColorBG" [ColorBrd]="ColorBrd" [SubjectTitle]="item['SubjectTitle']" [InstructorWhoGive]="item['Teacher']" [Description]="item['Description']">{{getTotal()}}</common-large-cards>
    </div>
  </div>
</div>
